@import 'theme/theme';
html {
    font-size: 16px;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 88vh;
    .banner {
        position: relative;
        height: 100vw;
        @media (min-width: 576px) {
            height: 98vw;
        }
        @media (min-width: 768px) {
            height: 740px;
        }
        @media (min-width: 992px) {
            height: 480px;
        }
        @media (min-width: 1200px) {
            height: 580px;
        }
        .banner-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            object-fit: cover;
            @media (min-width: 576px) {
                object-fit: contain;
            }
        }
        .banner-circle {
            background-image: url("../img/banner-circle.svg");
            background-repeat: no-repeat;
            width: 100px;
            height: 100px;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            text-align: center;
            .banner-value {
                font-weight: bold;
                font-size: .625rem;
                color: $white;
                padding-top: .625rem;
            }
        }
        .banner-shadow {
            background: linear-gradient(359.98deg, #181B23 14.72%, rgba(24, 27, 35, 0.57) 55.54%, rgba(24, 27, 35, 0) 92.63%);
            width: 100%;
            height: 136px;
            position: absolute;
            bottom: 0;
            .banner-logo {
                height: .875rem;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, -50%);
                @media (min-width: 576px) {
                    height: 1.5rem;
                }
            }
        }
    }
    .footer {
        margin-top: auto;
        .list-inline {
            display: flex;
            justify-content: center;
            padding-left: 0;
            .list-inline-item {
                list-style-type: none;
                padding: 0 12px;
                border-right: 1px solid $black-70;
                padding-bottom: .25rem;
                .btn-link {
                    font-weight: 400;
                    font-size: .75rem;
                    color: $green;
                }
            }
            .list-inline-item:last-child {
                border-right: none;
            }
            .list-inline-item.border-right:last-child {
                border-right: 1px solid $black-70;
            }
        }
    }
}
